{% extends 'base.html.twig' %}

{% set pageTitle = "Modifier le livre : "~ book.title %}
{% block title %} {{pageTitle}} {% endblock %}

{% block sidebar %} 
    <li class="nav-item"><a class="nav-link" href="{{ url("homepage") }}">Accueil</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url("books:index") }}">Livres</a></li>
    <hr>
    <li class="nav-item"><a class="nav-link" href="{{ url("books:create") }}">Crée un livre</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url("books:delete", {'id': book.id}) }}">Supprime le livre</a></li> 
    <hr>
    <li class="nav-item"><a class="nav-link" href="{{ url("books:read", {'id': book.id}) }}">Retour</a></li>   
{% endblock %}

{% block content %}

{% endblock %}